server.port={{ http_port }}
spring.profiles.active=prod
server.contextPath = /MRS
spring.application.name=MRS
tomcat.ajp.port={{ ajp_port }}
tomcat.ajp.remoteauthentication=false
tomcat.ajp.enabled=true

#Mail configuration
spring.mail.host={{ smtp_server }}
spring.mail.port={{ smtp_port }}
spring.mail.properties.mail.smtp.auth=false
spring.mail.properties.mail.smtp.starttls.enable=false
mrs.email.from={{ email_from }}
mrs.email.generate.secret.subject=Authentication code to generate/recover Mobile Password for your Zycus Mobile account
mrs.success.email.subject=Mobile Password for your Zycus Mobile account has been generated

#API user details
mrs.apiusername={{ tms_api_username }}
mrs.apipassword={{ tms_api_password }}

#Redis configuration
mrs.redis_timeout=1200
mrs.gs_delay=90000
spring.redis.host={{ redis_host }}
spring.redis.port={{ redis_port }}

#Accesslog configuration
server.tomcat.accesslog.directory=${MRS_LOGS_DIR}
server.tomcat.accesslog.enabled=true
server.tomcat.accesslog.pattern=common