# Version
release_version={{ release_version }}
patch_version=0

# JAVA Version
JAVA_HOME={{ jdk_path }}
MRS_JAVA_VERSION=1.7

# Log info
MRS_LOGS_DIR={{ log_location }}
MRS_LOGS_MODE=ERROR

# Host info
MRS_HOST_IP={{ application_ip }}

# Other info
MRS_CACHE_TIMESTAMP=1474483541

MRS_FILE_ENC=UTF-8

MRS_TIMEZONE=IST

MRS_JMX_ENABLE=true

MRS_JAVA_HEAP=2g

MRS_JAVA_PGEN=256m

MRS_JAVA_GC_TUNE=

MRS_UMASK=0002

MRS_OPEN_FILE_LIMIT=204

TZ=:/etc/localtime