#Url for SSOservice
tenant_settings.SSOServiceURL={{ tms_sso_internal_url }}
tenant_settings.Tenant-Service-URL={{ tms_service_internal_url }}

tenant_settings.isCacheEnable=true
tenant_settings.Data_Type=xml

#UrL related to CNSserver
tenant_settings.CNSServerURL={{ cns_internal_url }}
tenant_settings.CNSApacheURL={{ cns_domain_url }}

#for SupplierTMS
tenant_settings.Supplier-Tenant-Service-URL=
tenant_settings.SUPPLER_PORTAL_URL=
tenant_settings.Supplier-Company=Zycus
tenant_settings.SupplierSSOServiceURL=

tenant_settings.CCSServerURL={{ tms_ccs_internal_url }}